/*公共样式开始*/
	body{
		background-color: #fff;
	}
	.flash{
		background: #f5f5f5;
		padding-bottom: 40px;
	}
	a{
		text-decoration: none;
		color:#424242;
		cursor: pointer;
	}
	.container{
		width: 1226px;
		margin-left: auto;
		margin-right: auto;
	}
	.fl{
		float:left;
	}
	.fr{
		float:right;
	}
	.clearfix:after{
		content:'';
		display: block;
		height: 0px;
		visibility: hidden;
		clear:both;
	}
	.hd{
		margin: 0;
		line-height: 58px;
	}
	.hd .hd-lt{
	    font-size: 22px;
	    font-weight: 200;
	    color: #333;
	}
	.hd .hd-rt{
		font-size: 16px;
	}
	.hd .hd-rt .hd-item{
		margin-left: 30px;
	}
	.hd .hd-rt .hd-item.active a{
		padding-bottom: 4px;
		color: #ff6700;
		border-bottom: 2px solid #ff6700;
	}
	.main .main-left{
		width: 234px;
		height: 614px;
		transition:all 0.5s;
	}
	.main .main-left img{
		width: 100%;
		height: 100%;
	}
	.main .main-left-top,
	.main .main-left-bottom{
		width: 100%;
		height: 300px;
		transition:all 0.5s;
	}
	.main .main-left-top{
		margin-bottom: 14px;
	}
	.main .main-right{
		width: 992px;
		height: 614px;
	}
	.product-item{
		position: relative;
		width: 234px;
		height: 340px;
		background: #fff;
		margin-left: 14px;
		text-align: center;
		padding-top: 39px;
		box-sizing: border-box;
		transition:all 0.5s;
	}
	.pup:hover{
		box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
		transform: translateY(-3px);
	}
	.product-item .bg{
		width: 234px;
		height: 340px;
		position: absolute;
		top: 0px;
		left: 0px;
		background: rgba(0,0,0,0.02);
	}
	.flag-1:after{
			content:'1元秒杀';
		    position: absolute;
		    top: 0;
		    left: 50%;
		    z-index: 2;
		    width: 64px;
		    height: 20px;
		    line-height: 20px;
		    text-align: center;
		    margin-left: -32px;
		    font-size: 12px;
		    background: #e53935;
		    color: #fff;
	}
	.flag-299:after{
			content:'立减299元';
		    position: absolute;
		    top: 0;
		    left: 50%;
		    z-index: 2;
		    width: 64px;
		    height: 20px;
		    line-height: 20px;
		    text-align: center;
		    margin-left: -32px;
		    font-size: 12px;
		    background: #e53935;
		    color: #fff;
	}
	.flag-new:after{
			content:'新品';
		    position: absolute;
		    top: 0;
		    left: 50%;
		    z-index: 2;
		    width: 64px;
		    height: 20px;
		    line-height: 20px;
		    text-align: center;
		    margin-left: -32px;
		    font-size: 12px;
		    background: #83c44e;
		    color: #fff;
	}
	.product-item img{
		width: 160px;
		height: 160px;
		margin-bottom: 20px;
	}
	.product-item img~p:nth-child(2){
		font-size: 14px;
		font-weight: 400;
		font-weight: 400;
   	 	text-overflow: ellipsis;
    	white-space: nowrap;
    	overflow: hidden;
    	color:#212121;
	}
	.product-item img~p:nth-child(3){
		margin-top: 20px;
		height: 18px;
		font-size: 12px;
		text-overflow: ellipsis;
    	white-space: nowrap;
    	overflow: hidden;
		color: #b0b0b0;
	}
	.product-item img~p:nth-child(4){
		margin-top: 20px;
		font-size: 13px;
	}
	.product-item img~p:nth-child(4) span{
		color: #ff6709;
	}
	.product-item img~p:nth-child(4) del{
		color: #b0b0b0;
	}
	.product-item .item{
		width: 100%;
		height: 143px;
		background: #fff;
		transition:all 0.5s;
		padding-top:30px;
		box-sizing: border-box;
	}
	.product-item .item-top{
		margin-bottom: 14px;
	}
	.product-item .item-top .intro p:first-child{
		font-size: 14px;
		margin:10px 0px 5px 30px;
		color:#212121;
	}
	.product-item .item-top .intro p:last-child{
		font-size: 14px;
		color:#ff6700;
	}
	.product-item .item-top .tupian img{
		width: 80px;
		height: 80px;
		margin-right: 20px;
	}
	.product-item .item-bottom .intro p:first-child{
		font-size: 18px;
		color:#212121;
		margin:10px 0px 5px 30px;
	}
	.product-item .item-bottom .intro p:last-child{
		font-size: 14px;
		color:#ccc;
		margin-left: -10px;
	}
	.product-item .item-bottom .tubiao i{
		font-size: 60px;
		color:#ff6700;
		margin-right: 20px;
	}
	.product-item .pinglun{
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 0px;
		background: #ff6700;
		padding: 10px 30px;
		box-sizing: border-box;
		transition: all 0.5s;
		opacity: 0;
	}
	.product-item:hover .pinglun{
		height: 76px;
		opacity: 1;
	}
	.product-item .pinglun .pl-top{
		max-width: 174px;
		max-height: 36px;
		color:#fff;
		font-size: 14px;
		margin-bottom: 
	}
	.product-item .pinglun .pl-bottom{
		color:rgba(255,255,255,0.6);
		font-size: 12px;
	}
	.ad{
		width: 100%;
		height: 120px;
		margin-top:40px;
	}
	.ad img{
		width: 100%;
		height: 100%;
	}
/*公共样式结束*/
/*顶部样式开始*/
	.top{
		height: 40px;
		line-height: 40px;
		background: #333;
	}
	.top a{
		color: #b0b0b0;
		font-size: 12px;
	}
	.top li:hover a{
		color: white;
	}
	.top ul>li:first-child:after{
		display: none;
	}
	.top ul>li:after{
		float:left;
		display: inline-block;
		content:'';
		height: 10px;
		width: 1px;
		background: #424242;
		margin:15px 0.5em;

	}
	.top .top-right>li:nth-child(4):after{
		display: none;
	}
	.top .top-right .cart{
		position: relative;
	}
	.top .top-right .cart-icon a{
		display: block;
		text-align: center;
		width: 120px;
		margin-left: 15px;
		background: #555;
	}
	.top .top-right .cart-icon a:hover{
		background: #fff;
		color:#ff6700;
	}
	.top .top-right .cart-icon a i{
		font-size: 16px;
		margin-right: 5px;
	}
	.top .top-right .cart-box{
		width: 316px;
		height: 0px;
		line-height: 100px;
		text-align: center;
		position: absolute;
		top: 40px;
		right: 0px;
		background: #fff;
		color:#424242;
		z-index: 10;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
		padding: 0px 15px ;
		box-sizing: border-box;
		font-size: 12px;
		transition:all 0.5s;
		overflow: hidden;
	}
	.top .top-right .cart-icon:hover~.cart-box{
		height: 100px;
	}
/*顶部样式结束*/
/*导航部分开始*/
	.header .container{
		height: 100px;
		position: relative;
	}
	.header .image-box{
		position: absolute;
		top: 20px;
		left: 0px;
	}
	.header .nav{
		position: absolute;
		top: 40px;
		left: 234px;
	}
	.header .nav li{
		margin-right: 20px;
	}
	.header .nav li:hover a{
		color:#ff6700;
	}
	.header .search{
		position: absolute;
		top: 25px;
		right: 0px;
	}
	.header .search-box{
		width: 223px;
		height: 50px;
		position: relative;
	}
	.header .search-box>input{
		width: 223px;
		height: 50px;
		outline: none;
		position: absolute;
		right: 50px;
		top: 0px;
		border:0.2px solid rgba(0,0,0,0.1);
		padding-left: 15px;
		box-sizing: border-box;
	}
	.header .search-box .search-point.first{
		position: absolute;
		top: 16px;
		left: 50px;
		display: inline-block;
		background: #eee;
		color:#757575;
		font-size: 12px;
		padding: 1px;
	}
	.header .search-box .search-point.last{
		position: absolute;
		top: 16px;
		left: 90px;
		display: inline-block;
		background: #eee;
		color:#757575;
		font-size: 12px;
		padding: 1px;
	}
	.header .search-box .search-point:hover{
		background: #ff6700;
		color:#fff;
	}
	.header .search .search-button{
		position: absolute;
		right: 0px;
		top: 0px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		border: 0.2px solid rgba(0,0,0,0.3);
		text-align:center;
		font-size: 20px;
		border-left: none;
	}
	.header .search .search-button:hover{
		background: #ff6700;
		color:#fff;
		border-color:#ff6700;
	}
	.header .search .search-list{
		display: none;
		position: absolute;
		top: 49px;
		right: 50px;
		width: 223px;
		height: 300px;
		box-sizing: border-box;
		border: 1px solid #ff6700;
		z-index: 99;
		background: #fefefe;
		padding: 0px 15px;
	}
	.header .search .search-list>li{
		width: 100%;
		height: 30px;
		line-height: 30px;
	}
	.header .search .search-list>li .list-left{
		font-size: 14px;
		color: #757575;
	}
	.header .search .search-list>li .list-right{
		font-size: 12px;
		color:#ccc;
	}
	.header .search-box input:focus{
		border-color:#ff6700;
	}
	.header .search-box input:focus~.search-point{
		display: none;
	}
	.header .search-box input:focus~.search-list{
		display: block;
	}
	.header .search-box input:focus~.search-button{
		border-color:#ff6700;
	}
/*导航部分结束*/
/*黄金区域开始*/
	.banner .container{
		height: 460px;
		position: relative;
	}
	.banner .carousel-box{
		position: relative;
	}
	.banner .carousel-box .carousel-left{
		position: absolute;
		width: 40px;
		height: 70px;
		line-height: 70px;
		text-align:center;
		top: 50%;
		left: 234px;
		margin-top: -35px;
		z-index: 999;
		border-radius: 3px;
		font-size: 40px;
		color:#ccc;
	} 
	.banner .carousel-box .carousel-right{
		position: absolute;
		width: 40px;
		height: 70px;
		line-height: 70px;
		text-align:center;
		top: 50%;
		right:0;
		margin-top: -35px;
		z-index: 999;
		border-radius: 3px;
		font-size: 40px;
		color:#ccc;
	} 
	.banner .carousel-box .jiantou:hover{
		background: rgba(0,0,0,0.5);
	}
	.banner .carousel-box .carousel-point li{
		width: 7px;
		height: 7px;
		border: 1px solid #aaa;
		background: rgba(0,0,0,0.3);
		border-radius: 50%;
		float: left;
		margin-left: 10px;
	}
	.banner .carousel-box .carousel-point{
		position: absolute;
		bottom: 20px;
		right:20px;
	} 
	.banner .carousel-box img{
		width: 100%;
		height: 100%;
	}
	.banner .side-nav{
		width: 234px;
		height: 460px;
		background: rgba(0,0,0,0.5);
		position: absolute;
		top: 0px;
		left: 0px;
		padding-top: 20px;
		box-sizing: border-box;
	}
	.banner .side-nav li{
		padding:0px 30px;
	}
	.banner .side-nav li:hover{
		background: #ff6700;
	}
	.banner .side-nav li a{
		width: 100%;
		height: 42px;
		line-height: 42px;
	}
	.banner .side-nav li a{
		font-size: 14px;
		color: #fff;
	}
	.hot .container{
		margin-top: 15px;
	}
	.hot .hot-list:nth-child(2),
	.hot .hot-list:nth-child(3),
	.hot .hot-list:nth-child(4){
		width: 316px;
		height: 170px;
		margin-left: 15px;
		transition:all 1s;
	}
	.hot .hot-list:nth-child(2):hover,
	.hot .hot-list:nth-child(3):hover,
	.hot .hot-list:nth-child(4):hover{
		box-shadow: 0px 10px 30px rgba(0,0,0,0.3)
	}
	.hot .hot-list img{
		width: 100%;
		height: 100%;
	}
	.hot .hot-list:first-child{
		width: 234px;
		height: 170px;
		margin-left: -1px;
		background: #5f5750;
		text-align: center;
	}
	.hot .hot-list .hot-list-item{
		width: 78px;
		height: 85px;
		color:rgba(255,255,255,0.7);
		position: relative;
	}
	.hot .hot-list .hot-list-item:hover{
		color: #fff;
	}
	.hot .hot-list .hot-list-item:nth-child(1),
	.hot .hot-list .hot-list-item:nth-child(2),
	.hot .hot-list .hot-list-item:nth-child(3){
		padding-top: 15px;
	}
	.hot .hot-list .hot-list-item:nth-child(4),
	.hot .hot-list .hot-list-item:nth-child(5),
	.hot .hot-list .hot-list-item:nth-child(6){
		padding-bottom: 10px;
	}
	.hot .hot-list .hot-list-item:nth-child(4):before,
	.hot .hot-list .hot-list-item:nth-child(5):before,
	.hot .hot-list .hot-list-item:nth-child(6):before{
		content:'';
		height: 1px;
		width: 64px;
		display: block;
		background: #aaa;
		position: absolute;
		top:-10px;
		left: 10px;
	}
	.hot .hot-list .hot-list-item:nth-child(1):after,
	.hot .hot-list .hot-list-item:nth-child(2):after,
	.hot .hot-list .hot-list-item:nth-child(4):after,
	.hot .hot-list .hot-list-item:nth-child(5):after{
		content:'';
		height: 60px;
		width: 1px;
		display: block;
		background: #aaa;
		position: absolute;
		top:6px;
		left: 81px;
	}
	.hot .hot-list .hot-list-item i{
		font-size: 30px;

	}
	.hot .hot-list .hot-list-item span{
		display: block;
		font-size: 14px;
	}
/*黄金区域结束*/
/*闪购区域开始*/
	.shangou .container>ul{
		width: 100%;
	}
	.shangou .sg-top{
		height: 50px;
		line-height: 50px;
		margin-top: 40px;
	}
	.shangou .sg-top .t-left{
		font-size: 26px;
	}
	.shangou .sg-top .t-right a{
		display: inline-block;
		width: 40px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		border: 1px solid #e0e0e0;
		color:#e0e0e0;
		font-size: 20px;
	}
	.shangou .sg-top .t-right a:last-child{
		border-left: none;
		font-weight: bold;
		color:#ccc;
	}
	
	.shangou .sg-bottom .product-item:first-child{
		margin-left: 0px;
		background: #f1eded;
		border-top: 1px solid #e53935;
	}
	.shangou .sg-bottom .product-item:nth-child(2){
		border-top: 1px solid #ffac13;
	}
	.shangou .sg-bottom .product-item:nth-child(3){
		border-top: 1px solid #83c44e;
	}
	.shangou .sg-bottom .product-item:nth-child(4){
		border-top: 1px solid #2196f3;
	}
	.shangou .sg-bottom .product-item:nth-child(5){
		border-top: 1px solid #e53935;
	}
	.shangou .sg-bottom .product-item:first-child p:nth-child(1){
		font-size: 21px;
		color:#ef3a3b;
	}
	.shangou .sg-bottom .product-item:first-child i{
		font-size: 60px;
		margin-top: 30px;
		color: #e53935;
	}
	.shangou .sg-bottom .product-item:first-child p:nth-child(3){
		margin-top: 20px;
		font-size: 15px;
		color:rgba(0,0,0,0.54);
	}
	.shangou .sg-bottom .product-item:first-child p:nth-child(4){
		margin-top: 40px;
		font-size:24px;
		color: #605751;
	}
	.shangou .sg-bottom .product-item:first-child p:nth-child(4) span{
		display: inline-block;
		width: 46px;
		height: 46px;
		line-height: 46px;
		font-size: 24px;
		color: #fff;
		background: #605751;
	}
/*闪购区域结束*/
/*手机开始*/
	.flash-1 .hd-rt i{
		width: 12px;
		height: 12px;
		line-height: 12px;
		padding: 4px;
		text-align: center;
		border-radius:50%;
		margin-left: 8px;
		background: #b0b0b0;
		color: #fff;
		vertical-align: 1px;
		transition: all 0.2s;
	}
	.flash-1 .hd-rt:hover span{
		color: #ff6700;
	}
	.flash-1 .hd-rt:hover i{
		background: #ff6700;
	}
	.flash-1 .main .main-right .product-item{
		padding-top: 20px;
		margin-left: 14px;
		width: 234px;
		height: 300px;
		overflow: hidden;
	}
	.flash-1 .main .main-right .product-item img{
		margin-bottom: 0px;
	}
	.flash-1 .main .main-right .product-item:nth-child(1),
	.flash-1 .main .main-right .product-item:nth-child(2),
	.flash-1 .main .main-right .product-item:nth-child(3),
	.flash-1 .main .main-right .product-item:nth-child(4){
		margin-bottom: 14px;
	}
/*手机结束*/
/*家电开始*/
	.jiadian .main .main-right .product-item{
		padding-top: 20px;
		margin-left: 14px;
		width: 234px;
		height: 300px;
		overflow: hidden;
	}
	.jiadian .main .main-right .product-item img{
		margin-bottom: 0px;
	}
	.jiadian .main .main-right .product-item:nth-child(1),
	.jiadian .main .main-right .product-item:nth-child(2),
	.jiadian .main .main-right .product-item:nth-child(3),
	.jiadian .main .main-right .product-item:nth-child(4){
		margin-bottom: 14px;
	}
	.jiadian .main .main-right .product-item:last-child{
		background: #fafafa;
		padding-top: 0px;
	}
/*家电结束*/
/*智能开始*/
	.zhineng .main .main-right .product-item{
		padding-top: 20px;
		margin-left: 14px;
		width: 234px;
		height: 300px;
		overflow: hidden;
	}
	.zhineng .main .main-right .product-item img{
		margin-bottom: 0px;
	}
	.zhineng .main .main-right .product-item:nth-child(1),
	.zhineng .main .main-right .product-item:nth-child(2),
	.zhineng .main .main-right .product-item:nth-child(3),
	.zhineng .main .main-right .product-item:nth-child(4){
		margin-bottom: 14px;
	}
	.zhineng .main .main-right .product-item:last-child{
		background: #fafafa;
		padding-top: 0px;
	}
/*智能结束*/
/*搭配开始*/
	.dapei .main .main-right .product-item{
		padding-top: 20px;
		margin-left: 14px;
		width: 234px;
		height: 300px;
		overflow: hidden;
	}
	.dapei .main .main-right .product-item img{
		margin-bottom: 0px;
	}
	.dapei .main .main-right .product-item:nth-child(1),
	.dapei .main .main-right .product-item:nth-child(2),
	.dapei .main .main-right .product-item:nth-child(3),
	.dapei .main .main-right .product-item:nth-child(4){
		margin-bottom: 14px;
	}
	.dapei .main .main-right .product-item:last-child{
		background: #fafafa;
		padding-top: 0px;
	}
/*搭配结束*/
/*配件开始*/
	.peijian .main .main-right .product-item{
		padding-top: 20px;
		margin-left: 14px;
		width: 234px;
		height: 300px;
		overflow: hidden;
	}
	.peijian .main .main-right .product-item img{
		margin-bottom: 0px;
	}
	.peijian .main .main-right .product-item:nth-child(1),
	.peijian .main .main-right .product-item:nth-child(2),
	.peijian .main .main-right .product-item:nth-child(3),
	.peijian .main .main-right .product-item:nth-child(4){
		margin-bottom: 14px;
	}
	.peijian .main .main-right .product-item:last-child{
		background: #fafafa;
		padding-top: 0px;
	}
/*配件结束*/
/*周边开始*/
	.zhoubian .main .main-right .product-item{
		padding-top: 20px;
		margin-left: 14px;
		width: 234px;
		height: 300px;
		overflow: hidden;
	}
	.zhoubian .main .main-right .product-item img{
		margin-bottom: 0px;
	}
	.zhoubian .main .main-right .product-item:nth-child(1),
	.zhoubian .main .main-right .product-item:nth-child(2),
	.zhoubian .main .main-right .product-item:nth-child(3),
	.zhoubian .main .main-right .product-item:nth-child(4){
		margin-bottom: 14px;
	}
	.zhoubian .main .main-right .product-item:last-child{
		background: #fafafa;
		padding-top: 0px;
	}
/*周边结束*/
/*推荐开始*/
	.tuijian .tj-top{
		height: 50px;
		line-height: 50px;
	}
	.tuijian .tj-top .t-left{
		font-size: 26px;
	}
	.tuijian .tj-top .t-right a{
		display: inline-block;
		width: 40px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		border: 1px solid #e0e0e0;
		color:#e0e0e0;
		font-size: 20px;
	}
	.tuijian .tj-top .t-right a:last-child{
		border-left: none;
		font-weight: bold;
		color:#ccc;
	}
	.tuijian .tj-bottom .product-item:first-child{
		margin-left: 0px;
	}
	.tuijian .tj-bottom .product-item p:nth-child(3){
		color:#ff6700;
		font-size: 14px;
	}
	.tuijian .tj-bottom .product-item p:nth-child(4){
		color:#aaa;
	}
/*推荐结束*/
/*热评开始*/
	.reping .rp-top{
		height: 58px;
		font-size: 22px;
		color:#333;
	}
	.reping .rp-bottom .rp-item{
		width: 296px;
		height: 415px;
		margin-left: 14px;
		background: #fff;
		overflow: hidden;
		transition:all 0.5s;
	}
	.reping .rp-bottom .rp-item:first-child{
		margin-left: 0px;
	}
	.reping .rp-bottom .rp-item img{
		width: 100%;
	}
	.reping .rp-bottom .rp-item p:nth-child(2){
		padding: 20px 20px;
		font-size: 14px;
    	line-height: 24px;
    	font-weight: 400;
	}
	.reping .rp-bottom .rp-item p:nth-child(3){
		padding: 0px 20px;
		font-size: 12px;
		color:#b0b0b0;
	}
	.reping .rp-bottom .rp-item p:nth-child(4){
		padding: 15px 20px;
		font-size: 13px;
	}
	.reping .rp-bottom .rp-item .product-intro span:nth-child(2):before{
		content: '';
		display: inline-block;
		width: 1px;
		height: 10px;
		background: #b0b0b0;
		margin: 0px 10px;
	}
	.reping .rp-bottom .rp-item .product-intro span:last-child{
		color:#ff6700;
	}
/*热评结束*/
/*内容开始*/
	.neirong .nr-top{
		height: 58px;
		font-size: 22px;
		color:#333;
	}
	.neirong .nr-bottom .nr-item{
		width: 296px;
		height: 420px;
		margin-left: 14px;
		background: #fff;
		overflow: hidden;
		text-align:center;
		box-sizing: border-box;
		padding: 40px 20px;
		position: relative;
		transition: all 0.3s;
	}
	.neirong .nr-bottom .nr-item:first-child{
		margin-left: 0px;
		font-size: 16px;
		color:#ffac13;
		border-top: 1px solid #ffac13;
	}
	.neirong .nr-bottom .nr-item:nth-child(2){
		font-size: 16px;
		color:#83c44e;
		border-top: 1px solid #83c44e;
	}
	.neirong .nr-bottom .nr-item:nth-child(3){
		font-size: 16px;
		color:#e53935;
		border-top: 1px solid #e53935;
	}
	.neirong .nr-bottom .nr-item:nth-child(4){
		font-size: 16px;
		color:#2196f3;
		border-top: 1px solid #2196f3;
	}
	.neirong .nr-bottom .nr-item .title{
		margin-bottom:10px; 
	}
	.neirong .nr-bottom .nr-item .nr-intro{
		height: 100px;
		margin-bottom: 20px;
	}
	.neirong .nr-bottom .nr-item .nr-intro p:nth-child(1){
		font-size: 20px;
		font-weight: 400;
		color:#333;
		margin-bottom: 10px;
	}
	.neirong .nr-bottom .nr-item .nr-intro p:nth-child(2){
		padding: 0px 25px;
		font-size: 12px;
		color:#b0b0b0;
	}
	.neirong .nr-bottom .nr-item .nr-intro p:nth-child(3){
		font-size: 14px;
		color:#333;
		margin-top: 15px;
	}
	.neirong .nr-bottom .nr-item img{
		cursor: pointer;
	}
	.neirong .nr-bottom .nr-item .point{
		position:absolute;
		left: 50%;
		margin-left: -29px;
		bottom:30px;
	}
	.neirong .nr-bottom .nr-item .point li{
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: #aaa;
		margin-left: 20px;
	}
	.neirong .nr-bottom .nr-item .point li.active{
		border: 2px solid #ff6700;
		background: #fff;
		margin-top: -2px;
	}
	.neirong .nr-bottom .nr-item .point li:first-child{
		margin-left: 0px;
	}
	.neirong .nr-bottom .nr-item>span{
		position:absolute;
		top: 50%;
		margin-top: -24px;
		width: 20px;
		height: 48px;
		line-height: 48px;
		color:#fff;
		font-size: 30px;
	}
	.neirong .nr-bottom .nr-item>.zuo{
		left: 0px;
	}
	.neirong .nr-bottom .nr-item>.you{
		right: 0px;
	}
	.neirong .nr-bottom .nr-item:hover>span{
		background: #ccc;
	}
	.neirong .nr-bottom .nr-item>span:hover{
		background: rgba(0,0,0,0.5);
	}
/*内容结束*/
/*视频开始*/
	.shipin .sp-top{
		height: 58px;
		font-size: 22px;
		color:#333;
	}
	.shipin .sp-bottom .sp-item{
		width: 296px;
		height: 285px;
		margin-left: 14px;
		background: #fff;
		overflow: hidden;
		transition: all 0.3s;
		position: relative;
		text-align: center;
		color:#333;
	}
	.shipin .sp-bottom .sp-item:first-child{
		margin-left: 0px;
	}
	.shipin .sp-bottom .sp-item img{
		width: 100%;
	}
	.shipin .sp-bottom .sp-item .play:hover,
	.shipin .sp-bottom .sp-item img:hover~.play{
		transition: all 0.2s;
		background: #ff6700;
		border-color: #ff6700;
	}
	.shipin .sp-bottom .sp-item p:nth-child(2){
		margin: 10px 0px;
		padding-top: 10px;
		font-size: 14px;
	}
	.shipin .sp-bottom .sp-item p:nth-child(2) a:hover{
		color:#ff6700;
	}
	.shipin .sp-bottom .sp-item p:nth-child(3){
		font-size: 12px;
		color:#b0b0b0;
	}
	.shipin .sp-bottom .sp-item .play{
		position: absolute;
		top: 145px;
		left: 20px;
		width: 32px;
		height: 20px;
		line-height: 20px;
		text-align:center;
		font-size: 14px;
		color:#fff;
		border: 2px solid #fff;
		border-radius: 30px; 
	}
/*视频结束*/
/*页脚开始*/
	.footer .ft-top{
		border-bottom: 1px solid #e0e0e0;
	}
	.footer .ft-top li{
		width: 20%;
		text-align: center;
		line-height: 80px;
	}
	.footer .ft-top li:nth-child(1) a:after,
	.footer .ft-top li:nth-child(2) a:after,
	.footer .ft-top li:nth-child(3) a:after,
	.footer .ft-top li:nth-child(4) a:after{
		content: '';
		display: inline-block;
		width: 1px;
		height: 20px;
		background: #757575;
		margin-left: 50px;
		vertical-align: middle;
	}
	.footer .ft-top li a{
		font-size: 16px;
		color: #616161;
	}
	.footer .ft-top li a:hover{
		color:#ff6700;
	}
	.footer .ft-top li a i{
		font-size: 20px;
		margin-right: 10px;
	}
	.footer .ft-bottom .ft-intro{
		margin-left: 100px;
		padding: 30px 0px;
	}
	.footer .ft-bottom .ft-intro:first-child{
		margin-left: 0px;
	}
	.footer .ft-bottom .ft-intro dt{
		margin-bottom: 20px;
		font-size: 14px;
	}
	.footer .ft-bottom .ft-intro dd{
		padding-top: 10px;
	}
	.footer .ft-bottom .ft-intro dd a{
		font-size: 12px;
		color:#757575;
	}
	.footer .ft-bottom .ft-intro dd a:hover{
		color:#ff6700;
	}
	.footer .ft-bottom .ft-phone{
		width: 20%;
		margin: 30px 0px;
		padding-left: 80px;
		border-left: 1px solid #757575;
		text-align: center;
		color: #757575;
		margin-right: 30px;
		box-sizing: border-box;	
	}
	.footer .ft-bottom .ft-phone p:nth-child(1){
		color: #ff6700;
		font-size: 24px;
		margin-bottom: 10px;
	}
	.footer .ft-bottom .ft-phone p:nth-child(2),
	.footer .ft-bottom .ft-phone p:nth-child(3){
		font-size: 12px;
	}
	.footer .ft-bottom .ft-phone p:nth-child(4) a{
		color: #ff6700;
	}
	.footer .ft-bottom .ft-phone p:nth-child(4){
		line-height: 30px;
		text-align: center;
		border: 1px solid #ff6700;
		color:#ff6700;
		margin-top: 30px;
	}
/*页脚结束*/
/*底部开始*/
	.bottom{
		padding-top: 30px;
	}
	.bottom .bt-2,
	.bottom .bt-2 a{
		font-size: 12px;
		color:#b0b0b0;
	}
	.bottom .bt-2{
		width: 58%;
		margin-left: 20px;
	}
	.bottom .bt-2 ul li{
		margin-left: 5px;
	}
	.bottom .bt-2 ul li a{
		color:#757575;
	}
	.bottom .bt-2 ul li:last-child a:after{
		display: none;
	}
	.bottom .bt-2 ul li a:after{
		content: '';
		display: inline-block;
		width: 1px;
		height: 10px;
		background: #b0b0b0;
		margin-left: 3px;
	}
	.bottom .bt-3 a{
		margin-left: 5px;
	}
	.bottom .nbclass{
		width: 100%;
		line-height: 50px;
		text-align: center;
		font-size: 16px;
		color:#b0b0b0;
		margin-top: 20px;
		user-select: none;
		letter-spacing: 5px;
	}
/*底部结束*/